* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html,
.body-index {
    position: relative;
    height: 100%;
}

.body-index {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cartas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.cartas-amiibo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: 0 0 20px 0 rgba(80, 238, 65, 0.3);
}

figure {
    width: 200px;
}

.cartas-productos {
    width: 70%;
}

/*editar un boton ponerlo bonito*/